/* You can add global styles to this file, and also import other style files */
html,
body {
    // height: 100vh;
    max-height: 100vh !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: whitesmoke;
}

.wrapped-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    cursor: pointer;
}