/* You can add global styles to this file, and also import other style files */
@import '../src/assests/styles/varabiles.scss';
@import '../src/assests/styles/override.scss';
@import '../src/assests/styles/utility.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: whitesmoke;
}

.wrapped-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a{
    cursor: pointer;
}

