<slideshow-admin-header (action)="toggleSidebar()"></slideshow-admin-header>
<mat-drawer-container class="h-screen">
    <mat-drawer mode="over" [opened]="isSidebarOpen">
        <div class="border-coffee-300 h-auto min-h-full">
            <slideshow-admin-sidebar></slideshow-admin-sidebar>
        </div>
    </mat-drawer>
    <mat-drawer-content class="slide-show-container">
        <div class="overflow-y-auto p-3">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>