.slide-show-wrapper {

    &.fullscreen {
        position: absolute;
        width: 100%;
        max-width: unset !important;
        height: 100vh;
        overflow: auto;
    }

    .document-actions {
        position: fixed;
        right: 1px;
        top: 3px;
        border-radius: 50%;
        height: fit-content;
        width: 40px;
        z-index: 9999;

        .icon {
            color: black !important;
            z-index: 99;
        }
    }
}

::ng-deep {
    .mat-drawer {
        .mat-drawer-inner-container {
            overflow: unset;
        }
    }
}

@media (min-width: 1024px) {
    .slide-show-wrapper {
        .document-actions {
            right: 26px;
        }
    }
}

@media (max-width: 375px) {
    ::ng-deep {
        .mat-drawer {
            width: 300px;
        }
    }
}

button.active {
    // background-color: #02aaf5;
    background-color: #0088d2;
    font-weight: 500;
}