<div class="slide-show-wrapper relative min-h-screen mx-auto max-w-[700px] bg-white-smokyWhite">
    <div class="p-3 sm:p-4 md:p-8 lg:p-10 xl:p-12">
        @if ((currentSong$ | async) && showBhajan) {
        <ng-container *ngTemplateOutlet="bhajanTemplate; context: { $implicit: (currentSong$ | async) }"></ng-container>
        } @else if ((currentBook$ | async) && showBible) {
        <ng-container *ngTemplateOutlet="bibleTemplate; context: { $implicit: (currentBook$ | async) }"></ng-container>
        } @else {
        <ng-container *ngTemplateOutlet="noDataTemplate"></ng-container>
        }
    </div>
</div>

<ng-template #bhajanTemplate let-currentSong>
    <div class="flex flex-col justify-center items-center h-[calc(100vh-96px)] relative overflow-hidden">
        <h4 class="text-center font-medium mb-3">{{ currentSong.title | titlecase }}</h4>

        <div class="relative flex items-center justify-between w-[30vw] h-[30vw] max-w-40 max-h-40 min-w-20 min-h-20 
        bg-gray-800 rounded-full border-2 border-gray-600 p-3 gap-4">

            <button mat-icon-button>
                <mat-icon class="text-white-smokyWhite text-[2vw] sm:text-xl md:text-2xl lg:text-3xl">
                    chevron_left
                </mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon class="text-white-smokyWhite text-[2vw] sm:text-xl md:text-2xl lg:text-3xl">
                    chevron_right
                </mat-icon>
            </button>
        </div>

    </div>

</ng-template>

<ng-template #bibleTemplate let-currentBook>
    <h4 class="text-center font-medium">
        {{ currentBook?.bookNepali }} - ({{ currentBook?.bookEnglish | titlecase }})
    </h4>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(47px,auto))] gap-1 mt-8 sm:mt-10 md:mt-10 lg:mt-10 xl:mt-15">
        <ng-container *ngFor="let chapter of getChapterList(currentBook); let i = index">
            <button (click)="getBibleChapter(currentBook, chapter)"
                [class.active]="isBibleChapterActive(currentBook.bookId, chapter)"
                class="bg-primary-300 text-white font-normal p-2 rounded-md focus:outline-none text-sm w-12">
                {{ chapter }}
            </button>
        </ng-container>
    </div>
    @if (bibleChapterWithVerse.length>0) {
    <ng-container *ngTemplateOutlet="bibleVerseTemplate; context: { $implicit: currentBook }"></ng-container>
    }
</ng-template>

<ng-template #bibleVerseTemplate let-currentBook>
    <div class="space-y-4 p-4 mt-3">
        @if (currentBook.bookId == bibleChapterWithVerse[0].book) {
        @for (data of bibleChapterWithVerse; track $index) {
        <div *ngIf="data.isTitle" class="text-xl font-bold text-center">
            <h3 [innerHTML]="data.scripture"></h3>
        </div>
        <div *ngIf="!data.isTitle" class="flex items-start space-x-2">
            <strong class="font-semibold text-gray-500 text-sm">{{ data.verse }}.</strong>
            <span [innerHTML]="data.scripture" class="text-gray-800 leading-loose"></span>
        </div>
        }
        }
    </div>
</ng-template>

<ng-template #noDataTemplate>
    <p class="text-center">No data available. Please select an item to view its content.</p>
</ng-template>