<div class="slide-show-wrapper relative min-h-screen mx-auto max-w-[700px] bg-white-smokyWhite"
    [class.fullscreen]="showInFullscreen" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <div class="document-actions transition-opacity duration-300 ease-in-out">
        @if (showButton) {
        <ng-container *ngTemplateOutlet="fullscreenControlTemplate"></ng-container>
        }
    </div>

    <div class="p-3 sm:p-4 md:p-8 lg:p-10 xl:p-12">
        @if ((currentSong$ | async) && showBhajan) {
        <ng-container *ngTemplateOutlet="bhajanTemplate; context: { $implicit: (currentSong$ | async) }"></ng-container>
        } @else if ((currentBook$ | async) && showBible) {
        <ng-container *ngTemplateOutlet="bibleTemplate; context: { $implicit: (currentBook$ | async) }"></ng-container>
        } @else {
        <ng-container *ngTemplateOutlet="noDataTemplate"></ng-container>
        }
    </div>
</div>

<ng-template #fullscreenControlTemplate>
    <button mat-icon-button [matTooltip]="showInFullscreen ? 'Exit Fullscreen' : 'Fullscreen'"
        (click)="toggleFullscreen()">
        <mat-icon *ngIf="!showInFullscreen" class="icon">fullscreen</mat-icon>
        <mat-icon *ngIf="showInFullscreen" class="icon">fullscreen_exit</mat-icon>
    </button>
</ng-template>

<ng-template #bhajanTemplate let-currentSong>
    <h4 class="text-center font-medium">{{ currentSong.title | titlecase }}</h4>
    <pre class="text-center">{{ currentSong.lyrics }}</pre>
</ng-template>

<ng-template #bibleTemplate let-currentBook>
    <h4 class="text-center font-medium">
        {{ currentBook?.bookNepali }} - ({{ currentBook?.bookEnglish | titlecase }})
    </h4>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(60px,1fr))] gap-4 mt-8 sm:mt-10 md:mt-12 lg:mt-16 xl:mt-20">
        <button *ngFor="let _ of [].constructor(currentBook.chapter); let i = index"
            class="bg-primary-500 text-white font-medium py-2 px-4 rounded-md hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-50 text-sm">
            {{ i + 1 }}
        </button>
    </div>
</ng-template>

<ng-template #noDataTemplate>
    <p class="text-center">No data available. Please select an item to view its content.</p>
</ng-template>