.slide-show-wrapper {

    &.fullscreen {
        position: absolute;
        width: 100%;
        max-width: unset !important;
        height: 100vh;
        overflow: auto;
    }

    .document-actions {
        position: fixed;
        right: 1px;
        top: 3px;
        border-radius: 50%;
        height: fit-content;
        width: 40px;
        z-index: 9999;

        .icon {
            color: black !important;
            z-index: 99;
        }
    }
}

::ng-deep {
    .mat-drawer {
        .mat-drawer-inner-container {
            overflow: unset;
        }
    }
}

@media (min-width: 1024px) {
    .slide-show-wrapper {
        .document-actions {
            right: 26px;
        }
    }
}

@media (max-width: 375px) {
    ::ng-deep {
        .mat-drawer {
            width: 300px;
        }
    }
}

.bible-container {
    display: flex;
    flex-direction: column;
    /* Ensures rows stack vertically */
    gap: 10px;
    /* Space between rows */
    margin: 20px;
}

.bible-row {
    display: block;
    /* Ensure rows take the full width */
}

.chapter-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.verse-row {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    /* Space between the verse number and text */
    font-size: 1em;
}

.verse-number {
    font-weight: bold;
    color: #666;
}