@import '../../../assests/styles/varabiles.scss';

.main-container {
    width: auto;
    height: 100vh;
}

.side-navbar{
    border-radius: none !important;
    background-color: whitesmoke;
}

.slide-show-container{
    background-color: $color-light-gray-01;
}