<div class="sticky top-0 z-10 p-3 bg-white-smokyWhite border-b border-coffee-300 xs">
    <nav mat-tab-nav-bar mat-align-tabs='center' [tabPanel]="myTabPanel">
        <a mat-tab-link [routerLink]='"bible"' #templateLink='routerLinkActive' routerLinkActive
            [active]='templateLink.isActive' replaceUrl='true' mat-ripple class="select-bible">
            <span class="text-primary-950">Bible</span>
        </a>
        <a mat-tab-link [routerLink]='"bhajan"' #songListLink='routerLinkActive' routerLinkActive
            [active]='songListLink.isActive' replaceUrl='true' mat-ripple class="select-song">
            <span class="text-primary-950">Bhajan</span>
        </a>
    </nav>
    <div class="pt-3">
        <app-search (searchTextChanged)="getSearchText($event)" (searchCleared)="clearSearch($event)"></app-search>
    </div>
</div>

<mat-tab-nav-panel #myTabPanel>
    <div class="overflow-y-auto">
        <router-outlet></router-outlet>
    </div>
</mat-tab-nav-panel>