@import './colors.scss';

mat-action-list {

    // sidebar select button
    &.song-list,
    &.bible-list {
        mat-list-item {
            border-bottom: 1px solid $border;
            height: 57px !important;

            &.active {
                border-left: 6px solid $primary-medium;
                background-color: $primary-light;

                span {
                    font-weight: 500;
                }
            }
        }
    }
}


a {

    // sidebar list
    &.select-song,
    &.select-bible {

        &.mdc-tab--active {
            .mdc-tab-indicator {
                .mdc-tab-indicator__content--underline {
                    border-color: $primary-dark
                }
            }
        }
    }
}


mat-form-field {

    // search input
    &.search-field {
        border: 1px solid $border;
        border-radius: 4px;
        height: 53px !important;

        .mdc-line-ripple.mdc-line-ripple--active,
        .mdc-line-ripple.mdc-line-ripple--deactivating,
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }

        input {
            font-size: 0.875rem !important;
            line-height: 1.25rem !important;
        }
    }
}

// bible bhajan sidebar 
.mat-drawer {
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    max-width: 343px;
}