@import '../styles/varabiles.scss';

mat-form-field {
    &.search-field {
        margin: 0;
        max-height: 53px;

        .mat-mdc-text-field-wrapper {
            padding-bottom: 1px;
            border: 1px solid $color-border;
            border-radius: 12px;

            .mat-mdc-form-field-flex {
                height: 100% !important;
            }

            .mdc-line-ripple {
                display: none;
            }
        }

        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }

    &.width-100 {
        width: 100%;
    }

}

.mat-divider-horizontal {
    border-top-color: $color-border !important;
}

.mat-drawer {
    border-radius: unset !important;
}

mat-action-list {
    border-radius: 4px;
    padding: 10px !important;

    mat-list-item {
        border-bottom: 1px solid $color-border;
        height: 57px !important;
    }

    mat-list-item.active {
        background-color: #e3f4f9;
        border-left: 6px solid #7dbdd0;

        &.active {
            span {
                font-weight: 500;
            }
        }
    }
}