$color-primary: var(--color-primary, #3d6d5e);
$color-primary-alt: var(--color-primary-alt, #30ADCF);
$color-secondary: var(--color-secondary, #2a4252);

$color-border: var(--color-border, #ddd2d2);

$color-bad: var(--color-bad, #ff6769);
$color-good: var(--color-good, #0AC729);
$color-warn: var(--color-warn, #FFBF00);
$color-delete-red: var(--color-delete, #ff6769);

$color-snackbar-info: var(--color-snackbar-info, #00aacf);
$color-snackbar-success: var(--color-snackbar-success, #00D49B);
$color-snackbar-error: var(--color-snackbar-error, #E82C0C);


