<div class="reveal p-3 max-w-[700px] mx-auto slide-show-wrapper relative min-h-screen  bg-white-smokyWhite"
    [class.fullscreen]="showInFullscreen" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="document-actions transition-opacity duration-300 ease-in-out">
        @if (showButton) {
        <ng-container *ngTemplateOutlet="fullscreenControlTemplate"></ng-container>
        }
    </div>
    <div class="slides flex items-center justify-center">
        <ng-container *ngTemplateOutlet="slideShowTemplate"></ng-container>
    </div>
</div>

<ng-template #fullscreenControlTemplate>
    <button mat-icon-button [matTooltip]="showInFullscreen ? 'Exit Fullscreen' : 'Fullscreen'"
        (click)="toggleFullscreen()">
        <mat-icon *ngIf="!showInFullscreen" class="icon">fullscreen</mat-icon>
        <mat-icon *ngIf="showInFullscreen" class="icon">fullscreen_exit</mat-icon>
    </button>
</ng-template>

<ng-template #slideShowTemplate>
    <pre>{{lyricArray}}</pre>
</ng-template>