<mat-action-list>
    <a mat-list-item routerLink="/slideshow-admin/dashboard" routerLinkActive="active-list-item"
        class="h-12 py-2 border-b border-coffee-300 xs pl-6">
        <mat-icon>dashboard</mat-icon>
        <span class="text-sm font-normal ml-2">Dashboard</span>
    </a>
    <a mat-list-item routerLink="/slideshow-admin/slides" routerLinkActive="active-list-item"
        class="h-12 py-2 border-b border-coffee-300 xs pl-3">
        <mat-icon>slideshow</mat-icon>
        <span class="text-sm font-normal ml-2">Slides</span>
    </a>
</mat-action-list>