@import '../../../assests/styles/varabiles.scss';

.upper-navbar-wrapper{
    background-color: #eee;
    border-bottom: 1px solid $color-border;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    padding: 0;
    border: 1px solid $color-secondary;
    overflow: hidden;
}

.nav-tab {
    padding: 15px;
    text-decoration: none;
}


.nav-tab.active {
    background-color: $color-secondary;
    color: white;
}