@import '../../../assests/styles/varabiles.scss';

:host{
    height: 100%;
}

.upper-navbar-wrapper{
    background-color: #eee;
    border-bottom: 1px solid $color-border;
    z-index: 999;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    padding: 0;
    border: 1px solid $color-secondary;
    overflow: hidden;
}

.nav-tab.active {
    background-color: $color-secondary;
    color: white;
}