<div class="upper-navbar-wrapper padding-10 sticky-top">
    <nav mat-tab-nav-bar mat-align-tabs='center' [tabPanel]="myTabPanel">
        <a mat-tab-link [routerLink]='"songs"' #songListLink='routerLinkActive' routerLinkActive
            [active]='songListLink.isActive' replaceUrl='true' mat-ripple>
            Songs
        </a>
        <a mat-tab-link [routerLink]='"bible"' #templateLink='routerLinkActive' routerLinkActive
            [active]='templateLink.isActive' replaceUrl='true' mat-ripple>
            bible
        </a>
    </nav>
    <div class="margin-t-10 padding-t-10 padding-b-10 ">
        <app-search></app-search>
    </div>
</div>

<mat-tab-nav-panel #myTabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>