<div class="slide-show-wrapper m-10 h-[calc(100%-80px)] 
    rounded"
    [class.fullscreen]="showInFullscreen"
    (mouseenter)="onMouseEnter()" 
    (mouseleave)="onMouseLeave()">

    <div class="document-actions transition-opacity duration-300 ease-in-out">
        <ng-container *ngIf="showButton">
            <ng-container *ngTemplateOutlet="fullscreenControlTemplate"></ng-container>
        </ng-container>
    </div>

    <div class="p-3">
        <p>Show details of selected option</p>
    </div>
</div>

<ng-template #fullscreenControlTemplate>
    <button mat-icon-button [matTooltip]="showInFullscreen ? 'Exit Fullscreen' : 'Fullscreen'" 
        (click)="toggleFullscreen()">
        <mat-icon *ngIf="!showInFullscreen" class="icon">fullscreen</mat-icon>
        <mat-icon *ngIf="showInFullscreen" class="icon">fullscreen_exit</mat-icon>
    </button>
</ng-template>
