<div class="slide-show-wrapper m-6 h-[calc(100%-48px)]" [class.fullscreen]='showInFullscreen'>
    <div class='document-actions'>
        <button mat-icon-button [matTooltip]='showInFullscreen? "Exit Fullscreen":"Fullscreen"'
            (click)='toggleFullscreen()'>
            @if (!showInFullscreen) {
            <mat-icon class="icon">fullscreen</mat-icon>
            }
            @if (showInFullscreen) {
            <mat-icon class="icon">fullscreen_exit</mat-icon>
            }
        </button>
    </div>

    <div>
        <p class="text-center text-large text-2xl">
            slide-show render
        </p>
    </div>
</div>